.body_background
{
    text-align: center;
    background-image: url("https://e7.pngegg.com/pngimages/676/208/png-clipart-wooden-background-wooden-table-wooden-background.png");
    background-position: center;
    background-size: cover;
}